textarea.log {
  margin: 10px 0 20px;
  width: 100%;
  border: 3px solid #999;
  box-sizing: border-box;
  background: #EEE;
  font-family: monospace;
  font-size: 20px;
  white-space: pre-wrap;
}

.matchContainer {
  font-family: fff_forward;
  font-size: 14px;
  color: #444;
}

.matchContainer input {
  margin: 0 30px 0 10px;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  border: 3px solid #444;
  font-family: fff_forward;
}

.matchContainer input.long {
  width: 400px;
}

.matchContainer input.short {
  width: 30px;
}

.matchContainer button, .matchContainer select {
  margin: 5px 1em 5px 1em;
  padding: 0 20px;
  height: 36px;
  border: 3px solid #444;
  line-height: 30px;  
  font-family: fff_forward;
  background: #cbd0bd;
  cursor: pointer;
}

.matchContainer button.green {
  background: #abc563;
}

.map-wrapper {
  padding: 30px;
  background: url(../assets/tiles/wall-border.png) bottom right;
  background-size: 30px 30px;
}

.matchContainer .row {
  overflow: hidden;
  margin: 5px 0;
  min-height: 36px;
  line-height: 36px;
}

.dashboard {
  margin-left: 10px;
  font-size: 12px;
}

.dashboard h1 {
  font-size: 16px;
}

.dashboard ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;
}

.dashboard li {
  list-style: none;
  padding-left: 40px;
  color: #666;
  font-size: 10px;
}

.dashboard li span {
  color: #000;
}

.tank1avatar {
  background-image: url('../assets/tiles/tank-green-small.png');
  background-position: left center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  padding-left: 60px;
}
.tank2avatar {
  background-image: url('../assets/tiles/tank-blue-small.png');
  background-position: left center;
  background-size: 60px 60px;
  background-repeat: no-repeat;
  padding-left: 60px;
}

.winner {
	display: none;
}
.results .winner {
	display: flex;
}

.win-container {
	background-color: white;
	flex-grow: 0;
	flex-shrink: 0;
	padding: 2em 2em 2em 2em;
}
