	<div class="row">
		<label>Map width:</label> <input role="option" name="mapWidth" value="20" class="short" />
		<label>Map height:</label> <input role="option" name="mapHeight" value="15" class="short" />
		<label>Radar range:</label> <input role="option" name="visibility" value="8" class="short" />
		<label>Weapon range:</label> <input role="option" name="weaponRange" value="5" class="short" />
	</div>
	<div class="row">
		<label>Minimum wall spacing:</label> <input role="option" name="minSpacing" value="3" class="short" />
		<label>Vertical wall chance</label> <input role="option" data-type="float" name="verticalWallProb" value="0.5" class="short" />
		<label>Horizontal wall chance</label> <input role="option" data-type="float" name="horizontalWallProb" value="0.5" class="short" />
	</div>
	<div class="row">
		<label>Wall strength:</label> <input role="option" name="wallStrength" value="200" class="short" />
		<label>Tank strength:</label> <input role="option" name="tankStrength" value="300" class="short" />
		<label>Ammo:</label> <input role="option" name="maxAmmo" value="1000" class="short" />
		<label>Turns to Sudden Death:</label> <input role="option" name="suddenDeath" value="600" class="short" />
	</div>
	<div class="row">
		<label>Wall impact damage:</label> <input role="option" name="wallDamage" value="30" class="short" />
		<label>Tank impact damage:</label> <input role="option" name="tankDamage" value="50" class="short" />
		<label>Weapon damage:</label> <input role="option" name="weaponDamage" value="60" class="short" />
	</div>
