<div>
	<ul>
		<li><h2>Match Id:</h2></li>
		<li role="matchId"></li>
		<li>Turns left: <span role="suddenDeathTurns"></span></li>
	</ul>
</div>

<div>
	<ul>
	<li><h2 class="tank1avatar" role="tank1Name">Tank 0</h2></li>
	<li>Strength: <span role="tankStatus" key="0" flag="strength" /></li>
	<li>Ammo: <span role="tankStatus" key="0" flag="ammo" /></li>
	</ul>
</div>
<span>
	<ul>
	<li><h2 class="tank2avatar" role="tank2Name">Tank 1</h2></li>
	<li>Strength: <span role="tankStatus" key="1" flag="strength" /></li>
	<li>Ammo: <span role="tankStatus" key="1" flag="ammo" /></li>
	</ul>
</span>

