<span class="tankstatus tank1avatar">
	<ul>
	<li>Strength: <span role="tankStatus" key="0" flag="strength" /></li>
	<li>Ammo: <span role="tankStatus" key="0" flag="ammo" /></li>
	<li>Status: <span role="tankStatus" key="0" flag="status" /></li>
	</ul>
</span>
<span class="tankstatus tank2avatar">
	<ul>
	<li>Strength: <span role="tankStatus" key="1" flag="strength" /></li>
	<li>Ammo: <span role="tankStatus" key="1" flag="ammo" /></li>
	<li>Status: <span role="tankStatus" key="1" flag="status" /></li>
	</ul>
</span>

