<div>
	<h1 class="tank1avatar">Tank 0 status</h1>
	<li>Strength: <span role="tankStatus" key="0" flag="strength" /></li>
	<li>Ammo: <span role="tankStatus" key="0" flag="ammo" /></li>
	<li>Status: <span role="tankStatus" key="0" flag="status" /></li>
</div>
<div>
	<h1 class="tank2avatar">Tank 1 status</h1>
	<li>Strength: <span role="tankStatus" key="1" flag="strength" /></li>
	<li>Ammo: <span role="tankStatus" key="1" flag="ammo" /></li>
	<li>Status: <span role="tankStatus" key="1" flag="status" /></li>
</div>

