---
layout: default
title: Run a match
body_class: match
---

<div role="matchContainer" class="matchContainer column">
	<input type="checkbox" id="advancedOptions">
	<div class="advancedOptions">
	{%include map_options.html %}
	</div>
	<div class="row">
		<label>Tank 1 API URL:</label> <input role="tank1Api" class="long" placeholder="https://abc/def" />
	</div>
	<div class="row">
		<label>Tank 2 API URL:</label> <input role="tank2Api" class="long" placeholder="https://abc/def" />
	</div>
	<div>
		<button><label for="advancedOptions">Advanced options</label></button> <button role="initMatch" class="hide-when-active green">New Match</button>
	</div>
	<div class="row show-when-active">
		<div class="map-wrapper">
			<div role="matchMap"></div>
		</div>
		<div class="dashboard">
			<div>
				Match ID: <span role="matchId"></span><br/>
			</div>
			{%include tank_status.html %}
		</div>
	</div>

	<div class="row">
		<label>Log:</label>
	</div>
</div>

<textarea class="log" role="log"></textarea>

<script>
window.addEventListener('load', function () { initMatchPage(document, config); });
</script>
