---
layout: default
title: Run a match
header: true
body_class: match
---

<div role="matchContainer" class="matchContainer column">
	<div role="logModal" class="modal column hide">
		<button role="closeLog">Close Log</button>
		<textarea role="log" class="log huge">
		</textarea>
	</div>
	<div class="winner modal column">
		<div class="win-container">
			<h1 role="outcome"></h1>
			<button role="startAgain">Start Again</button>
		</div>
	</div>
	<div role="advancedOptions" class="hide-when-active hide">
	{%include map_options.html %}
	</div>
	<div class="row hide-when-active">
		<label>Tank 1 API URL:</label> <input role="tank1Api" class="long" placeholder="https://abc/def" /> <a href="https://tankwars.serverless.camp/pages/tank_brigade.html">Tank Brigade</a>
	</div>
	<div class="row hide-when-active ">
		<label>Tank 2 API URL:</label> <input role="tank2Api" class="long" placeholder="https://abc/def" /> <a href="https://tankwars.serverless.camp/pages/tank_brigade.html">Tank Brigade</a>
	</div>
	<div>
		<button role="toggleAdvancedOptions" class="hide-when-active">Advanced options</button>
		<button role="initMatch" class="hide-when-active green">New Match</button>
		<button role="showLog">Show Log</button>
	</div>
	<div class="row show-when-active">
		<div class="map-wrapper">
			<div role="matchMap"></div>
		</div>
		<div class="dashboard">
			<div>
				Match ID: <span role="matchId"></span><br/>
			</div>
			{%include tank_status.html %}
		</div>
	</div>
</div>


<script>
window.addEventListener('load', function () { initMatchPage(document, config); });
</script>
