---
layout: default
title: Test your API
header: true
body_class: test
---


<div role="matchContainer" class="matchContainer column">
	<div role="logModal" class="modal column hide">
		<button role="closeLog">Close Log</button>
		<textarea role="log" class="log huge">
		</textarea>
	</div>

	<div role="advancedOptions" class="hide">
	{%include map_options.html %}
	<label>Number of tanks:</label> <input role="option" name="numTanks" value="2"/>
	</div>

	<div class="row center">
		<label>Use API URL:</label> <input class="long" role="apiUrl" placeholder="https://abc/def" />
		<label>for</label>
		<select role="tankApi">
		</select>
		<button role="executeApi">Send</button>
	</div>
	<div class="row center">
		<label>Manually send:</label>
		<select role="command">
		</select>
		<label>To:</label>
		<select role="tankManual">
		</select>
		<button role="execute">Send</button>
	</div>

	<div>
		<button role="toggleAdvancedOptions">Toggle Advanced Options</button>
		<button role="showLog">Show Log</button>
		<button role="randomMap">Randomize map</button>
	</div>
	<div class="row show-when-active">
		<div class="map-wrapper">
			<div role="matchMap"></div>
		</div>
		<div class="dashboard">
			{%include tank_status.html %}
		</div>
	</div>
</div>

<script>
window.addEventListener('load', function () { initTestPage(document, config); });
</script>
