---
layout: default
title: Test your API 
body_class: test
---

<div role="matchContainer" class="column">
	<input type="checkbox" id="advancedOptions">
	<div class="advancedOptions">
	{%include map_options.html %}
	</div>
	<div>
		<label>Number of tanks:</label> <input role="option" name="numTanks" value="2"/>
		<button><label for="advancedOptions">Advanced options</label></button>
		<button role="randomMap">Randomize map</button>
	</div>


	<div class="column show-when-active">
		<div>
			<label>Use API URL:</label> <input role="apiUrl" placeholder="https://abc/def" />
			<label>for</label>
			<select role="tankApi"> 
			</select>
			<button role="executeApi">Send</button>
		</div>
		<div>
			<label>Send:</label> 
			<select role="command"> 
				<option>---</option>
			</select>
			<label>To:</label>
			<select role="tankManual"> 
			</select>
			<button role="execute">Send</button>
		</div>
		<div>
			{%include tank_status.html %}			
		</div>
		<div role="matchMap"></div>
		<textarea role="log"></textarea>
	</div>
</div>

<script>
window.addEventListener('load', function () { initTestPage(document, config); });
</script>
